<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Route Express</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
     <div class="container">
     	<h1 class="text-center my-4">Cervejas</h1>
     
     	<a class="btn btn-primary" href="/cervejas/create">Create Cerveja</a>
     	
     	<table class="table">
     	 <thead>
     	 	<tr>
     	 		<th>ID</th>
     	 		<th>Rótulo</th>
     	 		<th>Preço</th>
     	 		<th>Volume</th>
     	 		<th>Teor</th>
     	 		<th>Cor</th>
     	 		<th>Temperatura</th>
     	 		<th>Familia e Estilo</th>
     	 		<th>Descrição</th>
     	 		<th>Sabor</th>
     	 		<th>Action</th>
     	 	</tr>
     	 </thead>
     	 <tbody>
     	  <tr th:each="cerveja : ${cervejas}">
     	  	<td th:text="${cerveja.id}"></td>
     	  	<td th:text="${cerveja.rotulo}"></td>
     	  	<td th:text="${cerveja.preco}"></td>
     	  	<td th:text="${cerveja.volume}"></td>
     	  	<td th:text="${cerveja.teor}"></td>
     	  	<td th:text="${cerveja.cor}"></td>
     	  	<td th:text="${cerveja.temperatura}"></td>
     	  	<td th:text="${cerveja.familia_e_estilo}"></td>
     	  	<td th:text="${cerveja.descricao}"></td>
     	  	<td th:text="${cerveja.sabor}"></td>
     	  	
 
     	  	<td style="white-space:nowrap">
     	  		<a class="btn btn-primary btn-sm"
     	  			th:href="@{/cervejas/edit(id=${cerveja.id})}">Edit</a>
     	  		<a class="btn btn-danger btn-sm"
     	  			th:href="@{/cervejas/delete(id=${cerveja.id})}"
     	  			onclick="return confirm('Você tem certeza?')">Delete</a>	
     	  	</td>			  
     	   </tr>
     	  </tbody>		    	     	
         </table>
     </div>	
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>