<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Route Express</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
	<div class="container">
		<h1 class="text-center my-4">Cervejarias</h1>
		<a class="btn btn-primary" href="/adm">Back</a> <a
			class="btn btn-primary" href="/cervejarias/create">New Cervejaria</a>

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Cervejaria</th>
					<th>Pais</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cervejaria : ${cervejarias}">
					<td th:text="${cervejaria.id}"></td>
					<td th:text="${cervejaria.cervejaria}"></td>
					<td th:text="${cervejaria.pais}"></td>

					<td style="white-space: nowrap"><a
						class="btn btn-primary btn-sm"
						th:href="@{/cervejarias/edit(id=${cervejaria.id})}">Edit</a> <a
						class="btn btn-danger btn-sm"
						th:href="@{/cervejarias/delete(id=${cervejaria.id})}"
						onclick="return confirm('Are You Sure?')">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
		crossorigin="anonymous"></script>
</body>
</html>